# This is a basic CI build workflow using GitHub Actions

name: ci-build

# Controls when the action will run. 
on:
  # Triggers this workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout repository
      - uses: actions/checkout@v2

      # Runs a set of commands using the runners shell
      - name: Compile Fortran code
        run: |
          cd src
          make

      # Upload artifact
      - name: Upload Build Artifact
        uses: actions/upload-artifact@v2
        with:
          # Artifact name
          name: libwhamp.a
          path: src/libwhamp.a
          # And only keep it for 1 day
          retention-days: 1
